# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:flippant-sardine-31 # team: tech-acc-echo, project: tech-acc-echo

LOG_LEVEL=info
PORT=3000
NODE_ENV=dev
CONVEX_URL=https://flippant-sardine-31.eu-west-1.convex.cloud
